In [4]:
import pandas as pd

In [20]:
arquivo = 'resultados_lotofacil.csv'

df = pd.read_csv(arquivo)

df

#df.to_csv('resultados_lotofacil.csv', index=False)

      sorteio                                       dezenas
0        3055  02,03,07,08,09,10,11,12,14,15,17,20,21,22,23
1        3054  01,02,04,08,09,10,14,15,18,19,20,21,22,23,24
2        3053  02,04,05,07,08,12,13,14,16,17,18,19,21,22,23
3        3052  02,03,04,08,09,10,11,14,15,18,19,20,21,23,24
4        3051  02,03,04,06,09,10,11,12,15,17,18,20,21,22,25
...       ...                                           ...
3050        5  01,02,04,08,09,11,12,13,15,16,19,20,23,24,25
3051        4  01,02,04,05,08,10,12,13,16,17,18,19,23,24,25
3052        3  01,04,06,07,08,09,10,11,12,14,16,17,20,23,24
3053        2  01,04,05,06,07,09,11,12,13,15,16,19,20,23,24
3054        1  02,03,05,06,09,10,11,13,14,16,18,20,23,24,25

[3055 rows x 2 columns]